body
{
    background-color: #191919;
    color: white;

    /* Choosing a font that is available on all devices so that it doesn't have to download the font from another website. 
    According to CSS Fonts(https://www.cssfontstack.com/), Trebuchet MS is 99.67% compatible on Windows, and 97.12% on Mac. Papyrus is 70.37% compatible on Windows, and 92.43% on Mac. Palatino is 99.29% compatible on Windows, 86.13% on Mac. */
    font-family:'Trebuchet MS', 'Papyrus', 'Palatino', 'Arial';

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* anything to do with a link */
a
{
    /* Changed the color of the link as it wasn't accessible, this contrast ratio is now 7.73:1 (https://webaim.org/resources/contrastchecker/?fcolor=A3A3FF&bcolor=191919) */
    color: #A3A3FF;
}

/* any div id that is autofilled from the API has this css */
#timeAndDay, #weatherNow, #weatherFeelsLike
{
    
    /* so that they are shown on the same line as the other text, and not on a new line */ 
    display: inline;
}

#timeAndDay
{
    border: 3px solid white;
    font-size: 2em;
    width: 30%;

    /* Flexbox to have this on the left of the first line. Thanks to https://coder-coder.com/display-divs-side-by-side/#flexbox-method as the reminder for this. */
    flex: 1;

    /* Margin to make it all readable. */
    margin-right: 5%;
    margin-bottom: 5%;
}

.weather
{
    border: 4px dashed white;
}

.space-left-30
{
    /* Give a 30% margin on the left side, to make the site more space and more readable. */
    margin-left: 30%;
}

body hr
{
    /* Could also use flex-basis but according to caniuse it's supported by 96.22% (https://caniuse.com/mdn-css_properties_flex-basis) (instead of 97.18% like width - https://caniuse.com/mdn-css_properties_width) */
    width: 100%;

    /* Make the line completely hidden and not show anything. Thanks to https://stackoverflow.com/questions/29732575/how-to-specify-line-breaks-in-a-multi-line-flexbox-layout#comment97418807_50381928 */
    height: 0;
    margin: 0;
    border: 0;
}

/* Anything that happens on or around the music heading, if it's put here it will happen. */
.music
{
    width: 20%;

    /* A colourful border, thanks to Louis Hoebregts (https://www.mamboleoo.be/) for creating it (https://codepen.io/Mamboleoo/pen/poyeymr), it was slightly tweaked, originally under MIT license.  */
    border: 8px solid black;
    background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;
}

.coding
{
    width: 40%;

    /* Fancy border - some thanks to hhttps://9elements.github.io/fancy-border-radius/full-control.html for the border-radius */
    border-radius: 46% 37% 55% 0% / 0% 99% 0% 43%;
    border: 4px dashed #b0d72c;
}

/* Thanks to https://www.webfx.com/blog/web-design/circular-images-css/ for the basis of this, as well as https://stackoverflow.com/a/54358275 for the reminder of vw. */
.image-landscape-to-circle img
{
    width: 30vw;
    border-radius: 50%;
}

.writing
{
    width: 30%;

    /* Border - thanks to https://code.tutsplus.com/tutorials/css-refreshers-borders--net-24655 for the basis */
    border: 5px dotted #f9c2cd;
    border-width: medium;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 90%;
}

/* For any small screens - smaller than 435px width do this */
@media screen and (max-width: 435px)
{
    
    #timeAndDay, .weather
    {
        /* Make it easier to fit everything on without having to worry about something overflowing, or looking too big. */
        border: 0;
        font-size: 1em;
        width: 100%;
    }

    .space-left-30
    {
        /* Make the margin nothing on a small screen device, so everything can be read. */
        margin-left: 0%;
    }

    /* Instead of having the music, coding, and writing be beside each other, have them be below each other on a smaller device */
    .music, .coding, .writing
    {
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;;
    }

    /* Making border look good and outside of the images even on a small screen */
    .coding
    {
        border-radius: 46% 20% 55% 0% / 0% 99% 0% 43%;
    }

    .writing
    {
        border-bottom-left-radius: 0%;
    }

    .image-landscape-to-circle img
    {
        width: 85vw;
    }

} /* end smaller screens, max-width of 435px */